In [13]:
import pandas as pd

In [14]:
nba_stats = "player_stats"

In [15]:
player_stats = pd.read_csv(player_stats)

In [16]:
player_stats = player_stats.rename(columns={'Unnamed: 0': 'Index'})

In [17]:
player_stats

,Index,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,0,78331,1978-79,0,1610612757,POR,24.0,73,NaN,2144.0,...,0.572,198,406,604,176,67,134,205,270,1074
1,1,78331,1980-81,0,1610612757,POR,26.0,79,NaN,2790.0,...,0.641,223,463,686,284,62,170,241,260,1345
2,2,78331,1981-82,0,1610612757,POR,27.0,79,78.0,3129.0,...,0.628,258,663,921,319,69,107,245,233,1642
3,3,78331,1982-83,0,1610612757,POR,28.0,80,80.0,3017.0,...,0.621,183,570,753,380,68,110,281,213,1259
4,4,78331,1983-84,0,1610612757,POR,29.0,79,74.0,2648.0,...,0.667,235,453,688,308,84,108,235,237,1240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5103,5,1626159,2020-21,0,1610612763,MEM,25.0,26,1.0,507.0,...,0.571,18,100,118,50,15,12,37,47,178
5104,6,1626159,2021-22,0,1610612746,LAC,26.0,37,1.0,480.0,...,0.610,30,103,133,52,21,18,37,46,156
5105,7,1626159,2021-22,0,1610612757,POR,26.0,11,10.0,295.0,...,0.560,20,49,69,32,14,7,12,21,118
5106,8,1626159,2021-22,0,0,TOT,26.0,48,11.0,775.0,...,0.591,50,152,202,84,35,25,49,67,274
5107,9,1626159,2022-23,0,1610612757,POR,27.0,29,11.0,776.0,...,0.714,49,96,145,98,30,11,43,89,196

In [18]:
player_stats['PPG'] = player_stats.apply(lambda x: round(x['PTS'] / x['GP'],2), axis=1)
player_stats['RPG'] = player_stats.apply(lambda x: round(x['REB'] / x['GP'], 2), axis=1)
player_stats['APG'] = player_stats.apply(lambda x: round(x['AST'] / x['GP'], 2), axis=1)
player_stats['SPG'] = player_stats.apply(lambda x: round(x['STL'] / x['GP'], 2), axis=1)
player_stats['BPG'] = player_stats.apply(lambda x: round(x['BLK'] / x['GP'], 2), axis=1)
player_stats['TPG'] = player_stats.apply(lambda x: round(x['TOV'] / x['GP'], 2), axis=1)

In [19]:
player_stats

,Index,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,BLK,TOV,PF,PTS,PPG,RPG,APG,SPG,BPG,TPG
0,0,78331,1978-79,0,1610612757,POR,24.0,73,NaN,2144.0,...,134,205,270,1074,14.71,8.27,2.41,0.92,1.84,2.81
1,1,78331,1980-81,0,1610612757,POR,26.0,79,NaN,2790.0,...,170,241,260,1345,17.03,8.68,3.59,0.78,2.15,3.05
2,2,78331,1981-82,0,1610612757,POR,27.0,79,78.0,3129.0,...,107,245,233,1642,20.78,11.66,4.04,0.87,1.35,3.10
3,3,78331,1982-83,0,1610612757,POR,28.0,80,80.0,3017.0,...,110,281,213,1259,15.74,9.41,4.75,0.85,1.38,3.51
4,4,78331,1983-84,0,1610612757,POR,29.0,79,74.0,2648.0,...,108,235,237,1240,15.70,8.71,3.90,1.06,1.37,2.97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5103,5,1626159,2020-21,0,1610612763,MEM,25.0,26,1.0,507.0,...,12,37,47,178,6.85,4.54,1.92,0.58,0.46,1.42
5104,6,1626159,2021-22,0,1610612746,LAC,26.0,37,1.0,480.0,...,18,37,46,156,4.22,3.59,1.41,0.57,0.49,1.00
5105,7,1626159,2021-22,0,1610612757,POR,26.0,11,10.0,295.0,...,7,12,21,118,10.73,6.27,2.91,1.27,0.64,1.09
5106,8,1626159,2021-22,0,0,TOT,26.0,48,11.0,775.0,...,25,49,67,274,5.71,4.21,1.75,0.73,0.52,1.02
5107,9,1626159,2022-23,0,1610612757,POR,27.0,29,11.0,776.0,...,11,43,89,196,6.76,5.00,3.38,1.03,0.38,1.48